<section class="container-fluid text-center">
      <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="form-group my-3">
          <label for="login" class="col-form-label">login </label>
          <input
            type="text"
            class="form-control"
            id="login"
            placeholder="James.Bond"
            ngModel
            required
          />
        </div>

        <div class="form-group">
          <label for="password" class="col-form-label">Password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            ngModel
            required
          />
        </div>
        <button
          type="submit"
          class="btn btn-outline-success m-4"
          [disabled]="f.invalid"
        >
          Connexion
        </button>
        <button
          type="submit"
          class="btn btn-outline-danger m-4"
          [disabled]="f.invalid"
        >
          Cancel
        </button>
      </form>
    </section>



