$Red: #862e2a;
$Green: #2b6714;
$LightDarkGrey: #1f2f44;

* {
  text-decoration: none;
}
form {
  margin-top: 10%;
}
h2 {
  margin-top: 0;
  font-weight: 100;
}
button {
  background-color: $LightDarkGrey;
  border-color: $LightDarkGrey;
}
.btn {
  border-radius: 16px;
  width: 192px;
}
.btn-outline-danger {
  color: $Red;
}
.btn-outline-success {
  color: $Green;
}
input {
  margin: auto auto;
  background-color: $LightDarkGrey;
  border-color: $LightDarkGrey;
}
.form-control {
  border-radius: 16px;
}
.form-group {
  display: grid;
  margin: auto auto;
  width: 60%;
}
.col-form-label {
  text-align: left;
}
